<li
  *ngFor="let product of products"
  class="product"
>
  <img
    class="product__img"
    src="{{product.img}}"
    alt="product.Title"
  >

  <button
    class="btn btn--remove"
    *ngIf="isFavorite(product); else elseAddButton"
    (click)="removeFavoriteProduct(product)"
  >
    Remove from favorites
  </button>
  <ng-template #elseAddButton>
    <button class="btn" (click)="addFavoriteProduct(product)">Add to favorites</button>
  </ng-template>

  <h2>{{product.Title}}</h2>
  <p>{{product.Description}}</p>
  <a href="{{product.Url}}">Go to product page</a>
  <p class="product__rating">Rating: {{product.Rating}}</p>
</li>
